@import "settings/reset";
@import "settings/variables";
@import "settings/colors";
@import "settings/fonts";
@import "settings/utility";
@import "components/navigation";
@import "components/hero";
@import "components/info";
@import "components/flavours";
@import "components/about";
@import "components/order";
@import "components/footer";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-base;
  font-weight: 400;
  font-size: $base-font-size;
  color: $primary-color;
  width: 100%;
  background-color: $base-color;
}

body::before {
  content: url(../assets/bcookies7.webp);
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}

body::before {
  content: url(../assets/bcookies8.webp);
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}

body::before {
  content: url(../assets/logo.webp);
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}

body::before {
  content: url(../assets/order_img.webp);
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}

body::before {
  content: url(../assets/about_info.webp);
  position: absolute;
  top: -9999rem;
  left: -9999rem;
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
  padding: pxToRem(15) pxToRem(30);
}